/*button.button_style_red {*/
/*    color:red;*/
/*    font-style: italic;*/
/*}*/
button.button_style_green {
    color: green;
    font-style: italic;
}

button.button_style_orange {
    color: orange;
    font-style: italic;
}

h1.title_style {
    color: brown;
    font-style: italic;
    text-align: center;

}

p.product_type_title {
    color: brown;
    font-style: italic;
    font-weight: bold;
    font-size: 40px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    /*text-align: center;*/
}

p.products {
    color: darkorange;
    font-size: 20px;
    font-style: oblique;
}

p.person {
    color: darkcyan;
    font-size: 20px;
    font-style: oblique;
    font-weight: bold;
}

html, body {
    /*margin-left: 30px;*/
    padding: 0;
    /*background-image: url("img/chicken.png");*/
    /*background-size: 100%;*/
    object-fit: fill;
    /*background-color: rgb(207, 226, 255);*/
    background-color: rgb(243, 244, 238);
    margin-bottom: 20px;
    margin-top: 10px;
}

input {
    color: white;
    font-style: italic;
    background: #0d6efd;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    border-radius: 0.375rem;
}

input.edit {
    color: white;
    font-style: italic;
    background: #ccccc4;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    border-radius: 0.375rem;
    text-align: center;
}

input.delete {
    color: white;
    font-style: italic;
    background: red;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    border-radius: 0.375rem;
}

input:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

input.for_person {
    color: black;
    background: deepskyblue;
    border-bottom-color: red;
    border-radius: 7px;
}

input.for_illness {
    color: black;
    background: navajowhite;
    border-bottom-color: red;
    border-radius: 5px;
    font-size: 10px;
    height: 16px;
    margin-top: 10px;
    /*text-align: right;*/
}

a {
    color: darkcyan;
}

.colForm {
    float: left;
    width: 3cm;
    margin-left: 30px;
    margin-right: 30px;
}

.input_new{
    width: fit-content;
}

/*применяется для форм кнопок*/
.inner
{
    display: inline-block;
}

.colLabel {
    float: top;
}

.label_style {
    font-size: 20px;
    font-weight: bold;
    color: blue;
    font-style: italic;
    text-align: center;
}

select {
    border-radius: 0.375rem;
    font-size: 1rem;
    font-weight: 40;
}

.text-red {
    color: red;
}

.text-green {
    color: green;
}

.text-black {
    color: black;
}

/*.dynamic-color {*/
/*    color: [[${titleColor}]]; !* Используем значение из модели *!*/
/*}*/

.for_colors {
    background-color: deepskyblue;
}

.text_with_shadow {
    text-decoration: none;
    margin-left: 20px;
    /*font-family: "Century Schoolbook, Arial, sans-serif";*/
    font-family: "Century Schoolbook";
    font-size: 17px;
    /*font-style: italic;*/
    /*font-weight: bold;*/
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

/*.button-container{*/
/*    background: #d0d0d0;*/
/*    border: 3px solid #4f5252;*/
/*    padding: 10px;*/
/*    display: inline-block;*/
/*    border-radius: 5px;*/
/*}*/

/* общая рамка для нескольких кнопок*/
.button-container{
    background: #e7e9ee;
    border: 1px solid #4f5252;
    padding: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
    text-align: center;
}

/*таблица для шапки типов продуктов (отображается слева тип продукта, справа - аллергены)*/
.container {
    display: flex;
    flex-direction: row;
    background-color: rgba(151, 211, 236, 0.5);
}
/* общее свойство столбцов для этой таблицы */
.column {
    flex: 1;
    padding: 10px;
    box-sizing: border-box;
}
/* свойство левого столбца */
.left-column {
    text-align: center;
}

/* свойство правого столбца */
.right-column {
    align-content: center;
}

/*------------------------*/
.product_list_container {
    display: flex;
    flex-direction: row;
}

.product_list_column {
    flex: 1px;
    padding: 10px;
    box-sizing: border-box;
}

.product_list_left-column {
    width: 450px;
    text-align: left;
}

.product_list_right-column {
    align-content: center;
    width: 450px;
    height: 450px;
}

.image_for_product_types{
    width: 500px;
    height: 500px;
    object-fit: contain;
}