<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных протокола</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="button-container-add">
    <form th:method="PATCH" th:action="@{/nutrition/allProtocols/{id}(id=${protocolDTO.getProtocolId()})}"
          th:object="${protocolDTO}">
        <label for="protocolTitle">Введите название протокола: </label>
        <input class="field" type="text" th:field="*{protocolTitle}" id="protocolTitle">
        <p style="color: red" th:if="${#fields.hasErrors('protocolTitle')}" th:errors="*{protocolTitle}">ProtocolTitle
            error</p>
        <input type="text" th:type="hidden" th:field="*{protocolId}" id="protocolId">
        <p>
            <input type="submit" value="Изменить">
    </form>

    <form th:align="left" th:action="@{/nutrition/allProtocols/{id}(id=${protocolDTO.getProtocolId()})}">
        <input type="submit" value="Вернуться назад">
    </form>
</div>

</body>
</html>