<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Список протоколов</title>
  <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>
<h1 class="title_style">Список протоколов</h1>
<div th:each="protocolDTO: ${protocolList}">
  <a class="text_with_shadow" th:href="@{/nutrition/allProtocols/{id}(id=${protocolDTO.getProtocolId()})}" th:text="${protocolDTO.getProtocolTitle()}">protocol</a>
</div>

<br/>
<hr/>
<form th:action="@{/nutrition/commonPage}">
  <input class="" type="submit" value="На главную">
</form>
<form th:action="@{/nutrition/newProtocol}">
  <input class="" type="submit" value="Добавить протокол">
</form>
</body>
</html>