<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Микс продуктов для протокола</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<label class="label_style" for="protocol">Список РАЗРЕШЕННЫХ/ЗАПРЕЩЕННЫХ продуктов для протокола: </label>
<label id="protocol" style="color: red" th:text="${response.getProtocol()}"></label>

<br/>
<hr/>
<form th:method="GET" th:action="@{/nutrition/showMix/{id}(id=${protocolDTO.getProtocolId()})}"
      th:object="${resolutionDTO}">

    <label class="text_with_shadow" for="resolution"><b>Выберите параметр: </b></label>
    <select th:field="*{resolution}" class="reg-form__input form-select" , id="resolution">
        <option value="РАЗРЕШЕНО">РАЗРЕШЕНО</option>
        <option value="ЗАПРЕЩЕНО">ЗАПРЕЩЕНО</option>
    </select>

    <label class="text_with_shadow" for="protocolTwo"><b>Выбрать второй протокол:</b></label>
    <select th:object="${protocolTwo}" th:field="*{protocolId}" id="protocolTwo">
        <option value=""></option>
        <option th:each="protocolTwo : ${protocolList}" th:value="${protocolTwo.getProtocolId()}"
                th:text=" ${protocolTwo.getProtocolTitle()}"></option>
    </select>

    <input type="submit" value="Показать">
    <label style="margin-left: 15px">Аллергены</label>
    <table border="1" style="width:30px">
        <tr th:each="allergenType : ${allergens}">
            <td
                    class="text_with_shadow"
                    th:style=" 'background-color: '+ ${allergenType.getTitleColor()}"
                    th:text="${allergenType.allergenTitle}">allergen
            </td>
        </tr>
    </table>
</form>

</tr>
<div th:each="mix: ${response.getProducts()}">

    <div class="text_with_shadow" th:each="entry : ${mix}">
        <a style="font-weight: bolder; color: black" th:text="${entry.key}"></a>:
        <div th:each="productDTO : ${entry.value}">
            <a id="prod" style="margin-left: 15px"
               th:style="${productDTO.getAllergenTypes().size() > 0} ? 'margin-left: 15px; display: inline-block; width: 180px; color: '+ ${productDTO.getAllergenTypes().get(0).getTitleColor()} :
                  'margin-left: 15px; display: inline-block; width: 180px; color:  black'"
               th:text="${productDTO.getProduct()}">Value</a>

            <label
                    th:if="${productDTO.getAllergenTypes().size() > 1}"
                    th:style=" 'color: '+ ${productDTO.getAllergenTypes().get(1).getTitleColor()}"
                    th:text="${' + (' + productDTO.getAllergenTypes().get(1).getAllergenTitle() + ')'}"
                    for="prod"></label>

        </div>
    </div>

</div>

<hr/>
<form th:action="@{/nutrition/allProtocols/{id}(id=${protocolDTO.getProtocolId()})}">
    <input type="submit" value="Вернуться назад">
</form>

</body>
</html>