<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Тип аллергена</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<p th:style="'color: ' + ${titleColor}" th:text="${allergenTypeDTO.getAllergenTitle()}" class="text_with_shadow">
    VALUE</p>

<hr/>
<div th:replace="~{fragments/delete-confirm-modal :: deleteConfirmModal(id=${allergenTypeDTO.getAllergenId()})}"></div>

<div class="button-container">
    <form class="inner" th:action="@{/nutrition/allAllergenTypes/{id}/edit(id=${allergenTypeDTO.getAllergenId()})}">
        <input type="submit" value="Редактировать">
    </form>

    <form class="inner" id="deleteForm" th:method="DELETE"
          th:action="@{/nutrition/allAllergenTypes/{id}(id=${allergenTypeDTO.getAllergenId()})}"
          onsubmit="showCustomConfirm(event)">
        <input type="submit" class="delete" value="Удалить">
    </form>

    <form class="inner" th:action="@{/nutrition/allAllergenTypes}">
        <input type="submit" value="Вернуться назад">
    </form>

</div>

</body>
</html>