<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных о продуктах питания</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="button-container-add">
    <form th:method="PATCH" th:action="@{/nutrition/productType/{id}(id=${productTypeDTO.getProductTypeId()})}"
          th:object="${productTypeDTO}">
        <label for="productType">Введите тип продукта: </label>
        <input class="field" type="text" th:field="*{productType}" id="productType">
        <p style="color: red" th:if="${#fields.hasErrors('productType')}" th:errors="*{productType}">ProductType
            error</p>
        <input type="text" th:type="hidden" th:field="*{productTypeId}" id="illnessId">
        <p>
            <input type="submit" value="Изменить">
    </form>

    <form th:align="left" th:action="@{/nutrition/productType/{id}(id=${productTypeDTO.getProductTypeId()})}">
        <input type="submit" value="Вернуться назад">
    </form>
</div>

</body>
</html>