<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый продукт</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>
<form th:method="POST" th:action="@{/nutrition/productType/{id}/addProduct(id=${productTypeDTO.getProductTypeId()})}"
      th:object="${productDTO}">
    <label for="product">Введите название продукта: </label>
    <input class="field" type="text" th:field="*{product}" id="product">
    <p style="color: red" th:if="${#fields.hasErrors('product')}" th:errors="*{product}">Product error</p>
    <br/>
    <hr/>
    <label>Выберите тип аллергена (при необходимости): </label>
    <div class="col-md-4" th:each="allergenTypeDTO : ${allergenList}">
        <div class="checkbox checkbox-custom checkbox-circle">
            <input name="allergen" type="checkbox" th:id="'allerg_' + ${allergenTypeDTO.getAllergenId()}"
                   th:value="${allergenTypeDTO.getAllergenId()}"/>
            <label
                    th:style="'color: ' + ${allergenTypeDTO.getTitleColor()}"
                    th:for="'allerg_' + ${allergenTypeDTO.getAllergenId()}"
                    th:text="${allergenTypeDTO.allergenTitle}"></label>
        </div>
    </div>

    <hr/>
    <input type="submit" value="Добавить">
</form>
<hr/>
<form th:action="@{/nutrition/productType/{id}(id=${productTypeDTO.getProductTypeId()})}">
    <input type="submit" value="Вернуться назад">
</form>