<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Типы продуктов</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
    <script src="/assets/js/printDocument.js"></script>
</head>
<body>

<div id="productTypeList">
    <p class="product_type_title" th:align="center">Список типов продуктов</p>
    <div th:each="productTypeDto: ${productTypeList}">
        <a th:style="'color: black'"
           th:href="@{/nutrition/productType/{id}(id=${productTypeDto.getProductTypeId()})}"
           th:text="${productTypeDto.getProductType()}" class="text_with_shadow">productType</a>
    </div>
</div>


<br/>
<hr/>
<div class="button-container">
    <form class="inner" th:method="GET" th:action="@{/nutrition/newProductType}">
        <input class="input_add" type="submit" value="Новый тип">
    </form>

    <form class="inner" th:action="@{/nutrition/commonPage}">
        <input class="" type="submit" value="На главную">
    </form>

    <form class="inner" onsubmit="printDiv(); return false;">
        <input type="button" value="Распечатать" onclick="printDiv()">
    </form>
</div>

</body>
</html>