<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Продукт</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<label class="text_with_shadow" id="product" th:style="${productDTO.getAllergenTypes().size() > 0} ? 'color: '+ ${productDTO.getAllergenTypes().get(0).getTitleColor()} :
                  'color:  black'" th:text="${productDTO.getProduct()}">VALUE</label>

<label class="text_with_shadow"
       th:if="${productDTO.getAllergenTypes().size() > 1}"
       th:style=" 'color: '+ ${productDTO.getAllergenTypes().get(1).getTitleColor()}"
       th:text="${' + (' + productDTO.getAllergenTypes().get(1).getAllergenTitle() + ')'}"
       for="product"></label>

<hr/>

<div th:replace="~{fragments/delete-confirm-modal :: deleteConfirmModal(id=${productDTO.getProductId()}, typeId=${productTypeDTO.getProductTypeId()})}"></div>
<div class="button-container">

    <form class="inner" th:action="@{/nutrition/productType/{typeId}/product/{id}/edit(id=${productDTO.getProductId()}, typeId=${productTypeDTO.getProductTypeId()})}">
        <input class="" type="submit" value="Изменить">
    </form>

    <form class="inner" th:method="DELETE"
          th:action="@{/nutrition/productType/{typeId}/product/{id}(id=${productDTO.getProductId()}, typeId=${productTypeDTO.getProductTypeId()})}"
          onsubmit="showCustomConfirm(event)">
        <input class="delete" type="submit" value="Удалить">
    </form>

    <form class="inner" th:method="GET" th:action="@{/nutrition/productType/{id}(id=${productTypeDTO.getProductTypeId()})}">
        <input type="submit" value="Вернуться назад">
    </form>

</div>
</body>
</html>