<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Продукт</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<p th:text="${productDTO.getProduct()}">VALUE</p>

<hr/>
<form th:action="@{/nutrition/productType/{typeId}/product/{id}/edit(id=${productDTO.getProductId()}, typeId=${productTypeDTO.getProductTypeId()})}">
    <input class="" type="submit" value="Изменить">
</form>
<p></p>
<form th:method="DELETE" th:action="@{/nutrition/productType/{typeId}/product/{id}(id=${productDTO.getProductId()}, typeId=${productTypeDTO.getProductTypeId()})}">
    <input type="submit" value="Удалить">
</form>
<p></p>
<form th:method="GET" th:action="@{/nutrition/productType/{id}(id=${productTypeDTO.getProductTypeId()})}">
    <input type="submit" value="Вернуться назад">
</form>

</body>
</html>