<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Тип продуктов</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="container">
    <div class="column left-column">
        <p id="productType" class="product_type_title" th:text="${productTypeDTO.getProductType()} + ':'">VALUE</p>
    </div>
    <div class="column right-column">
        <!--        <h2 style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5)">Аллергены</h2>-->
        <table id="tab" border="1" style="width:30px">
            <tr th:each="allergenType : ${allergens}">
                <td
                        class="for_products_in_type"
                        th:style=" 'background-color: '+ ${allergenType.getTitleColor()}"
                        th:text="${allergenType.allergenTitle}">allergen
                </td>
            </tr>
        </table>
    </div>
</div>
<hr/>
<div class="product_list_container">
    <div class="product_list_column product_list_left-column">
        <tr th:if="${productTypeDTO.getProducts().size()==0}">
            <p style="font-weight: bold"> Пока в списке нет ни одного продукта </p>
        </tr>
        <div th:each="productDTO : ${productTypeDTO.getProducts()}">
            <a class="for_products_in_type" id="product"
               th:href="@{/nutrition/productType/{typeId}/product/{id}(typeId=${productTypeDTO.getProductTypeId()}, id=${productDTO.getProductId()})}"
               th:text="${' - ' + productDTO.getProduct()}"
               th:style="${productDTO.getAllergenTypes().size() > 0} ? 'color: '+ ${productDTO.getAllergenTypes().get(0).getTitleColor()} :
                  'color:  black'">product
            </a>
            <label
                    class="for_products_in_type"
                    th:if="${productDTO.getAllergenTypes().size() > 1}"
                    th:style=" 'color: '+ ${productDTO.getAllergenTypes().get(1).getTitleColor()}"
                    th:text="${' + (' + productDTO.getAllergenTypes().get(1).getAllergenTitle() + ')'}"
                    for="product"></label>
        </div>
    </div>
    <!--    <div style="width: 250px; height: 450px" class="product_list_column product_list_right-column">-->
    <!--    </div>-->
    <div class="product_list_column product_list_right-column">
        <img class="image_for_product_types"
             src="/assets/css/img/nutrition_background.jpg"
             alt="здесь будет рисунок">
    </div>
</div>
<p></p>
<div class="button-container">

    <form class="inner" style="margin-right: 10px" th:method="GET"
          th:action="@{/nutrition/productType/{id}/newProduct(id=${productTypeDTO.getProductTypeId()})}">
        <input class="input_new" type="submit" value="Новый продукт">
    </form>

    <form class="inner" style="margin-right: 10px"
          th:action="@{/nutrition/productType/{id}/edit(id=${productTypeDTO.getProductTypeId()})}">
        <input class="input_new" type="submit" value="Редактировать">
    </form>

    <form class="inner" style="margin-right: 10px" th:method="DELETE"
          th:action="@{/nutrition/productType/{id}(id=${productTypeDTO.getProductTypeId()})}">
        <input class="delete" type="submit" value="Удалить">
    </form>

    <form class="inner" th:action="@{/nutrition/productTypeList}">
        <input class="input_new" type="submit" value="Назад">
    </form>

</div>

</body>

</html>