<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новый микс</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<form th:method="POST" th:action="@{/nutrition/allIllnesses/{id}/addMix(id=${illnessDTO.getIllnessId()})}"
      th:object="${mixDTO}">
    <label class="label_style" for="illness">Выберите продукт для заболевания: </label>
    <label id="illness" style="color: red" th:text="${illnessDTO.getIllnessTitle()}"></label>

    <p></p>
    <label for="product"><b>Выбрать продукт:</b></label>
    <select th:object="${productDTO}" th:field="*{productId}" id="product">
        <option th:each="productDTO : ${productsList}" th:value="${productDTO.getProductId()}"
                th:text="${productDTO.getProduct()}"></option>
    </select>

    <p></p>
    <label for="resolution"><b>Выберите, разрешен или нет продукт: </b></label>
    <select th:object="${mixDTO}" th:field="*{resolution}" name="section" class="reg-form__input form-select" ,
            id="resolution">
        <option value="РАЗРЕШЕНО">РАЗРЕШЕНО</option>
        <option value="ЗАПРЕЩЕНО">ЗАПРЕЩЕНО</option>
    </select>

    <label class="label_style" for="resol">Вы выбрали: </label>
    <label id="resol" style="color: red" th:text="${resolution}"></label>


    <hr/>
    <div th:if="${response}">
        <div th:object="${mixDTO}" th:field="*{resolution}" th:each="mix: ${response.getProducts()}">

            <div th:each="entry : ${mix}">
                <a style="color: red" th:text="${entry.key}"></a>:
                <div th:each="valueProd : ${entry.value}">
                    <a style="margin-left: 15px" th:text="${valueProd.toString()}">Value</a>
                </div>
            </div>

        </div>
    </div>

    <br/>
    <hr/>
    <input type="submit" value="Добавить">
</form>

<p th:object="${mixDTO}" th:text="*{getResolution()}"></p>

<!--<p>Список</p>-->
<!--    <div th:object="${mixDTO}" th:field="*{resolution}" th:each="mix: ${response.getProducts()}">-->

<!--        <div th:each="entry : ${mix}">-->
<!--            <a style="color: red" th:text="${entry.key}"></a>:-->
<!--            <div th:each="valueProd : ${entry.value}">-->
<!--                <a style="margin-left: 15px" th:text="${valueProd.toString()}">Value</a>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<hr/>
<form th:action="@{/nutrition/allIllnesses/{id}(id=${illnessDTO.getIllnessId()})}">
    <input type="submit" value="Вернуться назад">
</form>

</div>
</body>
</html>