<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Главная страница</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<h1 class="title_style">Главная страница</h1>

<div class="button-container">

    <form class="inner" th:action="@{/nutrition/people}">
        <input class="input_new" type="submit" value="Люди">
    </form>

    <form class="inner" th:action="@{/nutrition/productTypeList}">
        <input class="input_new" type="submit" value="Продукты питания">
    </form>

    <form class="inner" th:action="@{/nutrition/allProtocols}">
        <input class="input_new" type="submit" value="Протоколы">
    </form>

    <form class="inner" th:action="@{/nutrition/allAllergenTypes}">
        <input class="input_new" type="submit" value="Типы аллергенов">
    </form>

</div>

</body>
</html>