<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Главная страница</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<h1 class="title_style">Главная страница</h1>

<form class="colForm" th:action="@{/nutrition/people}">
    <input class="" type="submit" value="Люди">
</form>

<form class="colForm" th:action="@{/nutrition/productTypeList}">
    <input class="" type="submit" value="Продукты питания">
</form>

<form class="colForm" th:action="@{/nutrition/allProtocols}">
    <input class="" type="submit" value="Протоколы">
</form>

<form class="colForm" th:action="@{/nutrition/allAllergenTypes}">
    <input class="" type="submit" value="Типы аллергенов">
</form>

</body>
</html>