<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование данных пользователя</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<div class="button-container-add">
    <form th:method="PATCH" th:action="@{/nutrition/people/{id}(id=${personDTO.getPersonId()})}"
          th:object="${personDTO}">
        <!--  указываем поле, которое есть у нашего объекта person/ обратить внимание на синтаксис  -->
        <label for="fullName">Введите ФИО: </label>
        <input class="field" type="text" th:field="*{fullName}" id="fullName">
        <p style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">FullName error</p>
        <input type="text" th:type="hidden" th:field="*{personId}" id="personId">
        <p>
            <input type="submit" value="Изменить">
    </form>

    <form th:align="left" th:action="@{/nutrition/people/{id}(id=${personDTO.getPersonId()})}">
        <input type="submit" value="Вернуться назад">
    </form>
</div>

</body>
</html>