<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактирование данных пользователя</title>
  <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<form th:method="PATCH" th:action="@{/nutrition/people/{id}(id=${personDTO.getPersonId()})}" th:object="${personDTO}">
  <!--  указываем поле, которое есть у нашего объекта person/ обратить внимание на синтаксис  -->
  <label for="fullName">Введите ФИО: </label>
  <input class="edit" type="text" th:field="*{fullName}" id="fullName">
  <p style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">FullName error</p>
  <input type="text" th:type="hidden" th:field="*{personId}" id="personId">
<!--  <input type="text" th:type="hidden" th:field="*{login}" id="login">-->
<!--  <input type="password" th:type="hidden" th:field="*{password}" id="password">-->
<!--  <input type="text" th:type="hidden" th:field="*{role}" id="role">-->
  <br/>
  <input type="submit" value="Изменить">
  <hr/>
  <form th:action="@{/nutrition/people/{id}(id=${personDTO.getPersonId()})}">
    <input type="submit" value="Вернуться назад">
  </form>
</form>

</body>
</html>