<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список людей</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<p class="product_type_title" th:align="center">Список людей</p>
<div class="button-container-people">
    <div th:each="personDto: ${people}">
        <a th:href="@{/nutrition/people/{id}(id=${personDto.getPersonId()})}"
           th:text="${personDto.getFullName()}" class="text_with_shadow">user</a>
    </div>
</div>


<hr/>
<div class="button-container">
    <form class="inner" th:action="@{/nutrition/commonPage}">
        <input class="" type="submit" value="На главную">
    </form>
    <form class="inner" th:action="@{/nutrition/newPerson}">
        <input class="input_add" type="submit" value="Добавить человека">
    </form>
</div>
</body>
</html>