<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Пользователь</title>
    <link href="/assets/css/styles.css" rel="stylesheet">
</head>
<body>

<p class="person" th:text="${personDTO.getFullName()}">VALUE</p>

<tr th:if="${personDTO.getProtocols().size()==0}">
    <p style="font-weight: bold"> Человек пока не болен))) </p>
</tr>

<tr th:if="${personDTO.getProtocols().size()!=0}">
    <p style="font-weight: bold">Протоколы:</p>
</tr>
<tr th:each="protocolDTO : ${personDTO.getProtocols()}">
    <div style="display: flex; align-items: center;">
        <form th:method="PATCH"
              th:action="@{/nutrition/people/{id}/curePerson/{protocol}(id=${personDTO.getPersonId()}, protocol=*{protocolDTO.getProtocolTitle()})}">
            <a style="margin-left: 15px; color: red; display: inline-block; width: 180px"
               th:text="${protocolDTO.getProtocolTitle()}"></a>
            <input class="for_illness" type="submit" value="убрать">
        </form>
    </div>
</tr>
<hr/>
<form th:method="PATCH" th:action="@{/nutrition/people/{id}/addProtocolToPerson(id=${personDTO.getPersonId()})}">
    <label for="protocolDTO"><b>Выбрать протокол:</b></label>
    <select th:object="${protocolDTO}" th:field="*{protocolId}" id="protocolDTO">
        <option id="opt" th:each="protocolDTO : ${protocolList}" th:value="${protocolDTO.getProtocolId()}"
                th:text="${protocolDTO.getProtocolTitle()}"></option>
    </select>
    <input class="for_person" type="submit" value="Назначить">
</form>

</tr>
</form>

<hr/>
<form th:action="@{/nutrition/people/{id}/edit(id=${personDTO.getPersonId()})}">
    <input type="submit" value="Редактировать">
</form>

<hr/>

<!-- Подключаем модальное окно -->
<div th:replace="fragments/delete-confirm-modal :: deleteConfirmModal(id=${personDTO.getPersonId()})"></div>

<form th:method="DELETE" th:action="@{/nutrition/people/{id}(id=${personDTO.getPersonId()})}"
      onsubmit="showCustomConfirm(event)">
    <input type="submit" value="Удалить">
</form>

<form th:action="@{/nutrition/people}">
    <input type="submit" value="Вернуться назад">
</form>

</body>
</html>